* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #161616;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}

.container {
    width: 380px;
    height: 760px;
    background: #222;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1a1a1a;
}

.coins,
.energy {
    background: #333;
    padding: 10px 18px;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}