* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #161616;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}

.container {
    width: 380px;
    height: 760px;
    background: #222;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
